{% load static %}
<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title>VARAHI-GRAND</title>

    <!-- Favicons-->
    <link
      rel="shortcut icon"
      href="{% static 'img/favicon-mix.png' %}"
      type="image/x-icon"
    />

    <!-- GOOGLE WEB FONT-->
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&amp;family=Montserrat:wght@300;400;500;600;700&amp;display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      rel="stylesheet"
    />

    <!-- BASE CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/vendors.min.css' %}" rel="stylesheet" />

    <!-- YOUR CUSTOM CSS -->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" />

    <style>
      .book_btn {
        background: #2b2063 !important;
        transition: 0.3s ease-in-out;
      }

      .book_btn:hover {
        background: #978667 !important;
      }

      .hamburger__inner {
        background-color: #2b2063 !important;
      }
      .hamburger__inner::before {
        background-color: #2b2063 !important;
      }
      .hamburger__inner::after {
        background-color: #2b2063 !important;
      }

      .privacy_content {
        margin-top: 80px;
        padding: 80px 0;
      }

      .social a {
        font-size: 20px;
        display: inline-block;
        margin-right: 10px;
        transition: transform 0.3s ease-in-out;
      }

      .privacy_policy_footer {
        position: relative;
        padding-top: 80px;
      }
      .privacy_policy {
        margin-top: 80px;
        padding-top: 80px;
      }

      .social a.instagram {
        color: #e4405f;
      }

      .social a.whatsapp {
        color: #25d366;
      }

      .social a.facebook {
        color: #1877f2;
      }

      .social a.instagram:hover {
        color: #e4405f;
        text-shadow: 0 0 20px rgb(182, 25, 25);
      }

      .social a.whatsapp:hover {
        color: #25d366;
        text-shadow: 0 0 20px rgb(25, 182, 25);
      }

      .social a.facebook:hover {
        color: #1877f2;
        text-shadow: 0 0 20px rgb(23, 92, 197);
      }

      .social a:hover {
        transform: scale(1.2);
      }

      .whatsapp-float a {
        position: fixed;
        bottom: 30px;
        right: 30px;
        color: green;
        border-radius: 50%;
        font-size: 54px;
        z-index: 1000;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
        text-align: center;
        transition: 0.3s ease;
      }

      .whatsapp-float:hover a {
        transform: translateY(-10px);
      }

      .whatsapp-icon {
        display: block;
      }

      @media (max-width: 767px) {
        .logo_normal img {
          width: 105px !important;
          height: 75px;
        }
        .privacy_content {
          margin-top: 20px;
        }

        .whatsapp-float a  {
          font-size: 44px;
          bottom:20px;
          right:20px;
        }
      }

      main {
        padding: 50px 20px;
        max-width: 1000px;
        margin: auto;
        color: #333;
        line-height: 1.8;
      }

      h2,
      h3 {
        margin-top: 30px;
        color: #2b2063;
      }
    </style>
  </head>

  <body>
    <div id="preloader">
      <div data-loader="circle-side"></div>
    </div>
    <!-- /Page Preload -->

    <header class="fixed_header menu_v4 submenu_version">
      <div class="layer"></div>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-3">
            <a href="#home" class="logo_normal"
              ><img
                src="{% static 'img/logo-1.png' %}"
                width="135"
                height="105"
                alt="Logo"
            /></a>
          </div>
          <div class="col-9">
            <div class="main-menu">
              <a href="#0" class="closebt open_close_menu"
                ><i class="bi bi-x"></i
              ></a>
              <div class="logo_panel">
                <img
                  src="{% static 'img/logo-1.png' %}"
                  width="135"
                  height="105"
                  alt=""
                />
              </div>
              <nav id="mainNav">
                <ul>
                  <li class="submenu">
                    <a style="color: #2b2063" href="/">Home</a>
                  </li>
                  <li class="submenu">
                    <a style="color: #2b2063" href="/#about">About</a>
                  </li>
                  <li class="submenu">
                    <a style="color: #2b2063" href="/#rooms">Rooms & Suites</a>
                  </li>
                  <li class="submenu">
                    <a style="color: #2b2063" href="/#contact">Contacts</a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="hamburger_2 open_close_menu float-end">
              <div class="hamburger__box">
                <div class="hamburger__inner"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main>
      <div class="privacy_content">
        <h1 style="color: #2b2063">Privacy Policy</h1>
        <p>
          At <strong>Hotel Varahi Grand</strong>, accessible from
          <a href="https://varahigrand.com">https://varahigrand.com</a>, one of
          our main priorities is the privacy of our visitors. This Privacy
          Policy document explains the types of information that is collected
          and recorded by Hotel Varahi Grand and how we use it.
        </p>

        <p>
          If you have any questions or need more information about our Privacy
          Policy, do not hesitate to contact us.
        </p>

        <p>
          This policy applies only to our online activities and is valid for
          visitors to our website with regards to the information that they
          shared and/or collect in Hotel Varahi Grand. It is not applicable to
          any information collected offline or via other channels.
        </p>

        <h3>Consent</h3>
        <p>
          By using our website, you hereby consent to our Privacy Policy and
          agree to its terms.
        </p>

        <h3>Information We Collect</h3>
        <p>
          The personal information that you are asked to provide, and the
          reasons why you are asked to provide it, will be made clear to you at
          the point we ask you to provide your personal information.
        </p>
        <p>
          If you contact us directly, we may receive additional information
          about you such as your name, email address, phone number, the contents
          of the message and/or attachments you may send us, and any other
          information you may choose to provide.
        </p>
        <p>
          When you register for an Account, we may ask for your contact
          information, including items such as name, company name, address,
          email address, and telephone number.
        </p>

        <h3>How We Use Your Information</h3>
        <p>We use the collected information in various ways, including to:</p>
        <ul>
          <li>Provide, operate, and maintain our website</li>
          <li>Improve, personalize, and expand our website</li>
          <li>Understand and analyze how you use our website</li>
          <li>Develop new products, services, and functionality</li>
          <li>Communicate with you, either directly or through partners</li>
          <li>Send you emails and promotional content</li>
          <li>Detect and prevent fraud</li>
        </ul>

        <h3>Log Files</h3>
        <p>
          Hotel Varahi Grand follows a standard procedure of using log files.
          These files log visitors when they visit websites. All hosting
          companies do this and are a part of hosting services’ analytics. The
          information collected by log files includes internet protocol (IP)
          addresses, browser type, Internet Service Provider (ISP), date and
          time stamp, referring/exit pages, and possibly the number of clicks.
          These are not linked to any information that is personally
          identifiable. The purpose of the information is for analyzing trends,
          administering the site, tracking users’ movement on the website, and
          gathering demographic information.
        </p>

        <h3>Cookies and Web Beacons</h3>
        <p>
          Like any other website, The Hotel Varahi Grand uses ‘cookies’. These
          cookies are used to store information including visitors’ preferences,
          and the pages on the website that the visitor accessed or visited. The
          information is used to optimize the users’ experience by customizing
          our web page content based on visitors browser type and/or other
          information.
        </p>

        <h3>Advertising Partners Privacy Policies</h3>
        <p>
          You may consult the Privacy Policy for each of Hotel Varahi Grand's
          advertising partners. Third-party ad servers may use cookies,
          JavaScript, or Web Beacons to personalize ads. They may receive your
          IP address during this process. We do not control these cookies.
        </p>

        <h3>Third-Party Privacy Policies</h3>
        <p>
          THE Hotel Varahi Grand’s Privacy Policy does not apply to other
          advertisers or websites. Thus, we are advising you to consult the
          respective Privacy Policies of these third-party ad servers for more
          detailed information. It may include their practices and instructions
          about how to opt out of certain options.
        </p>
        <p>
          You can choose to disable cookies through your individual browser
          options. To know more detailed information about cookie management
          with specific web browsers, it can be found on the browsers’
          respective websites.
        </p>

        <h3>CCPA Privacy Rights (Do Not Sell My Personal Information)</h3>
        <p>Under the CCPA, California consumers have the right to:</p>
        <ul>
          <li>
            Request that a business that collects a consumer’s personal data
            disclose the categories and specific pieces of personal data that a
            business has collected about consumers.
          </li>
          <li>
            Request that a business deletes any personal data about the consumer
            that a business has collected.
          </li>
          <li>
            Request that a business that sells a consumer’s personal data, not
            sell the consumer’s personal data.
          </li>
          <li>
            If you make a request, we have one month to respond to you. Please
            contact us if you would like to exercise any of these rights.
          </li>
        </ul>
        <p>
          If you submit a request, we have one month to respond. Please contact
          us to exercise any of these rights.
        </p>

        <h3>GDPR Data Protection Rights</h3>
        <p>All users are entitled to the following rights under GDPR:</p>
        <ul>
          <li>
            <strong>Right to access</strong> – You have the right to request
            copies of your personal data. We may charge you a small fee for this
            service.
          </li>
          <li>
            <strong>Right to rectification</strong> – You have the right to
            request that we correct any information you believe is inaccurate.
            You also have the right to request that we complete the information
            you believe is incomplete.
          </li>
          <li>
            <strong>Right to erasure</strong> – You have the right to request
            that we erase your personal data, under certain conditions.
          </li>
          <li>
            <strong>The right to restrict processing </strong> – You have the
            right to request that we restrict the processing of your personal
            data, under certain conditions.
          </li>
          <li>
            <strong>The right to object to processing</strong> – You have the
            right to object to our processing of your personal data, under
            certain conditions.
          </li>
          <li>
            <strong>The right to data portability</strong> – You have the right
            to request that we transfer the data that we have collected to
            another organization, or directly to you, under certain conditions.
          </li>
        </ul>
        <p>
          If you wish to exercise any of these rights, we have one month to
          respond. Please contact us.
        </p>

        <h3>Children’s Information</h3>
        <p>
          Another part of our priority is adding protection for children while
          using the internet. We encourage parents and guardians to observe,
          participate in, and/or monitor and guide their online activity.
        </p>
        <p>
          The Hotel Varahi Grands does not knowingly collect any Personal
          Identifiable Information from children under the age of 13. If you
          think that your child provided this kind of information on our
          website, we strongly encourage you to contact us immediately and we
          will do our best efforts to promptly remove such information from our
          records.
        </p>
      </div>
    </main>

    <footer class="privacy_policy_footer">
      <div class="container mt-5 pt-5">
        <div class="row move_content pb-5">
          <div class="col-lg-4 col-md-12">
            <h5>Hotel Varahi Grand (HVG)</h5>
            <ul>
              <li>
                Your cozy and budget-friendly stay near Kanaka Durga Temple on
                the Hyderabad–Vijayawada Highway.<br /><br />
              </li>
              <li>
                <strong><a href="mailto:hotelvarahigrand143@gmail.com">hotelvarahigrand143@gmail.com</a></strong>
              </li>
              <li>
                <strong><a href="tel:+918328464932">+91 8328464932</a></strong>
              </li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 ms-lg-auto">
            <h5>Explore</h5>
            <div class="footer_links">
              <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#rooms">Rooms &amp; Suites</a></li>
                <li><a href="#contact">Contacts</a></li>
              </ul>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <h5>Legal</h5>
            <div class="footer_links">
              <ul>
                <li><a href="/privacy_policy">Privacy Policy</a></li>
                <li>
                  <a href="/terms_and_conditions">Terms and Conditions</a>
                </li>
                <li><a href="/refund_policy">Refund Policy</a></li>
              </ul>
            </div>
          </div>

          <div class="col-lg-2 col-md-6">
            <h5>Follow Us</h5>
            <div class="social">
              <ul>
                <li>
                  <a href="#0" class="instagram"
                    ><i class="bi bi-instagram"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="https://wa.me/918328464932"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="whatsapp"
                    ><i class="bi bi-whatsapp"></i
                  ></a>
                </li>
                <li>
                  <a href="#0" class="facebook"
                    ><i class="bi bi-facebook"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!--/row-->
      </div>
      <!--/container-->
      <div class="copy">
        <div class="container">
          © Hotel Varahi Grand - by
          <a href="https://digitalroomz.com/">Digital Roomz</a>
        </div>
      </div>
    </footer>

    <div class="whatsapp-float">
      <a
        href="https://wa.me/918328464932"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fab fa-whatsapp whatsapp-icon"></i>
      </a>
    </div>

    <script src="{% static 'js/common_scripts.js' %}"></script>
    <script src="{% static 'js/common_functions.js' %}"></script>
    <script src="{% static 'js/datepicker_inline.js' %}"></script>

    <script>
      document.querySelectorAll(".submenu a").forEach((link) => {
        link.addEventListener("click", function () {
          if (window.innerWidth < 768) {
            document.querySelector(".open_close_menu").click();
          }
        });
      });
    </script>
  </body>
</html>
