{% load static %}
<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title>VARAHI-GRAND</title>

    <!-- Favicons-->
    <link
      rel="shortcut icon"
      href="{% static 'img/favicon-mix.png' %}"
      type="image/x-icon"
    />

    <!-- GOOGLE WEB FONT-->
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&amp;family=Montserrat:wght@300;400;500;600;700&amp;display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      rel="stylesheet"
    />

    <!-- BASE CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/vendors.min.css' %}" rel="stylesheet" />

    <!-- YOUR CUSTOM CSS -->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" />

    <style>
      .book_btn {
        background: #2b2063 !important;
        transition: 0.3s ease-in-out;
      }

      .book_btn:hover {
        background: #978667 !important;
      }

      .hamburger__inner {
        background-color: #2b2063 !important;
      }
      .hamburger__inner::before {
        background-color: #2b2063 !important;
      }
      .hamburger__inner::after {
        background-color: #2b2063 !important;
      }

      .terms_and_conditions {
        margin-top: 80px;
        padding-top: 80px;
      }

      .terms_and_conditions_footer {
        position: relative;
        padding-top: 80px;
      }

      .social a {
        font-size: 20px;
        display: inline-block;
        margin-right: 10px;
        transition: transform 0.3s ease-in-out;
      }

      .social a.instagram {
        color: #e4405f;
      }

      .social a.whatsapp {
        color: #25d366;
      }

      .social a.facebook {
        color: #1877f2;
      }

      .social a.instagram:hover {
        color: #e4405f;
        text-shadow: 0 0 20px rgb(182, 25, 25);
      }

      .social a.whatsapp:hover {
        color: #25d366;
        text-shadow: 0 0 20px rgb(25, 182, 25);
      }

      .social a.facebook:hover {
        color: #1877f2;
        text-shadow: 0 0 20px rgb(23, 92, 197);
      }

      .social a:hover {
        transform: scale(1.2);
      }

      @media (max-width: 767px) {
        .logo_normal img {
          width: 105px !important;
          height: 75px;
        }
        .terms_and_conditions {
          margin-top: 20px;
        }
      }

      main {
        padding: 50px 20px;
        max-width: 1000px;
        margin: auto;
        color: #333;
        line-height: 1.8;
      }

      h2,
      h3 {
        margin-top: 30px;
        color: #2b2063;
      }
    </style>
  </head>

  <body>
    <div id="preloader">
      <div data-loader="circle-side"></div>
    </div>
    <!-- /Page Preload -->

    <header class="fixed_header menu_v4 submenu_version">
      <div class="layer"></div>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-3">
            <a href="#home" class="logo_normal"
              ><img
                src="{% static 'img/logo-1.png' %}"
                width="135"
                height="105"
                alt="Logo"
            /></a>
          </div>
          <div class="col-9">
            <div class="main-menu">
              <a href="#0" class="closebt open_close_menu"
                ><i class="bi bi-x"></i
              ></a>
              <div class="logo_panel">
                <img
                  src="{% static 'img/logo-1.png' %}"
                  width="135"
                  height="105"
                  alt=""
                />
              </div>
              <nav id="mainNav">
                <ul>
                  <li class="submenu">
                    <a style="color: #2b2063" href="/">Home</a>
                  </li>
                  <li class="submenu">
                    <a style="color: #2b2063" href="/#about">About</a>
                  </li>
                  <li class="submenu">
                    <a style="color: #2b2063" href="/#rooms">Rooms & Suites</a>
                  </li>
                  <li class="submenu">
                    <a style="color: #2b2063" href="/#contact">Contacts</a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="hamburger_2 open_close_menu float-end">
              <div class="hamburger__box">
                <div class="hamburger__inner"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main>
      <div class="terms_and_conditions">
        <h1 style="color: #2b2063">Terms & Conditions</h1>
        <p>
          These terms and conditions outline the rules and regulations for the
          use of <strong>Hotel Varahi Grand</strong>’s website, located at
          <a href="https://varahigrand.com">https://varahigrand.com</a>.
        </p>

        <p>
          By accessing this website, we assume you accept these terms and
          conditions. Do not continue to use
          <strong>Hotel Varahi Grand</strong> if you do not agree to take all of
          the terms and conditions stated on this page.
        </p>

        <p>
          The following terminology applies to these Terms and Conditions,
          Privacy Statement and Disclaimer Notice and all Agreements: “Client”,
          “You” and “Your” refers to you, the person log on this website and
          compliant to the Company’s terms and conditions. “The Company”,
          “Ourselves”, “We”, “Our” and “Us”, refers to our Company. “Party”,
          “Parties”, or “Us”, refers to both the Client and ourselves. All terms
          refer to the offer, acceptance, and consideration of payment necessary
          to undertake the process of our assistance to the Client in the most
          appropriate manner, in accordance with prevailing law. Any use of the
          above terminology or other words in the singular, plural,
          capitalization and/or he/she or they, are taken as interchangeable.
        </p>

        <h3>Cookies</h3>
        <p>
          We employ the use of cookies. By accessing
          <strong>Hotel Varahi Grand</strong>, you agreed to use cookies in
          agreement with our <a href="/privacy_policy">Privacy Policy</a>.
        </p>

        <h3>License</h3>
        <p>
          Unless otherwise stated, <strong>Hotel Varahi Grand</strong> and/or
          its licensors own the intellectual property rights for all material on
          this site. All rights are reserved. You may access this for your own
          personal use subject to restrictions set in these terms and
          conditions.
        </p>

        <p>You must not:</p>
        <ul>
          <li>Republish material from Hotel Varahi Grand</li>
          <li>Sell, rent, or sub-license material from Hotel Varahi Grand</li>
          <li>Reproduce, duplicate or copy material from Hotel Varahi Grand</li>
          <li>Redistribute content from Hotel Varahi Grand</li>
        </ul>

        <h3>Comments</h3>
        <p>
          Certain parts of this website offer an opportunity for users to post
          and exchange opinions and information.
          <strong>Hotel Varahi Grand</strong> does not filter, edit, or review
          Comments before their appearance. Comments reflect the views of the
          person who posted them.
        </p>

        <p>You warrant that:</p>
        <ul>
          <li>
            You are entitled to post the Comments and have all necessary
            licenses and consents.
          </li>
          <li>
            The Comments do not infringe any intellectual property rights.
          </li>
          <li>The Comments are not defamatory, offensive, or unlawful.</li>
          <li>
            The Comments will not be used for solicitation or unlawful activity.
          </li>
        </ul>

        <p>
          You grant <strong>Hotel Varahi Grand</strong> a non-exclusive license
          to use, reproduce, and edit your Comments in all forms.
        </p>

        <h3>Hyperlinking to our Content</h3>
        <p>
          The following organizations may link to our Website without prior
          written approval:
        </p>
        <ul>
          <li>Government agencies</li>
          <li>Search engines</li>
          <li>News organizations</li>
          <li>
            Online directories linking as they do to other listed businesses
          </li>
          <li>System-wide Accredited Businesses</li>
        </ul>

        <p>We may approve other link requests from:</p>
        <ul>
          <li>Commonly-known business or consumer info sources</li>
          <li>Dot-com community sites</li>
          <li>Charity organizations</li>
          <li>Internet portals and directories</li>
          <li>Educational institutions and trade associations</li>
        </ul>

        <h3>iFrames</h3>
        <p>
          Without prior approval and written permission, you may not create
          frames around our Webpages that alter in any way the visual
          presentation or appearance of our Website.
        </p>

        <h3>Content Liability</h3>
        <p>
          We shall not be hold responsible for any content that appears on your
          Website. You agree to protect and defend us against all claims that is
          rising on your Website. No link(s) should appear on any Website that
          may be interpreted as libelous, obscene or criminal, or which
          infringes, otherwise violates, or advocates the infringement or other
          violation of, any third party rights.
        </p>

        <h3>Your Privacy</h3>
        <p>Please read our <a href="/privacy-policy">Privacy Policy</a>.</p>

        <h3>Reservation of Rights</h3>
        <p>
          We reserve the right to request that you remove all links or any
          particular link to our Website. You approve to immediately remove all
          links to our Website upon request. We also reserve the right to amen
          these terms and conditions and it’s linking policy at any time. By
          continuously linking to our Website, you agree to be bound to and
          follow these linking terms and conditions.
        </p>
        <h3>Removal of links from our website</h3>
        <p>
          If you find any link on our Website that is offensive for any reason,
          you are free to contact and inform us any moment. We will consider
          requests to remove links but we are not obligated to or so or to
          respond to you directly.
        </p>
        <p>
          We do not ensure that the information on this website is correct, we
          do not warrant its completeness or accuracy; nor do we promise to
          ensure that the website remains available or that the material on the
          website is kept up to date.
        </p>

        <h3>Disclaimer</h3>
        <p>
          To the maximum extent permitted by law, we exclude all
          representations, warranties, and conditions relating to our website
          and your use of it. This disclaimer will not:
        </p>
        <ul>
          <li>Limit or exclude liability for death or personal injury</li>
          <li>Limit or exclude liability for fraud or misrepresentation</li>
          <li>Limit any liabilities in ways not permitted under law</li>
          <li>Exclude any liabilities that may not be excluded under law</li>
        </ul>

        <p>
          The limitations and prohibitions of liability set in this Section and
          elsewhere in this disclaimer: (a) are subject to the preceding
          paragraph; and (b) govern all liabilities arising under the
          disclaimer, including liabilities arising in contract, in tort and for
          breach of statutory duty.
        </p>
        <p>
          As long as the website and its content are provided free of charge, we
          will not be liable for any loss or damage of any nature.
        </p>
      </div>
    </main>

    <footer class="terms_and_conditions_footer">
      <div class="container mt-5 pt-5">
        <div class="row move_content pb-5">
          <div class="col-lg-4 col-md-12">
            <h5>Hotel Varahi Grand (HVG)</h5>
            <ul>
              <li>
                Your cozy and budget-friendly stay near Kanaka Durga Temple on
                the Hyderabad–Vijayawada Highway.<br /><br />
              </li>
              <li>
                <strong><a href="#0">info@varahigrand.com</a></strong>
              </li>
              <li>
                <strong><a href="tel:+918328464932">+91 8328464932</a></strong>
              </li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 ms-lg-auto">
            <h5>Explore</h5>
            <div class="footer_links">
              <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#rooms">Rooms &amp; Suites</a></li>
                <li><a href="#contact">Contacts</a></li>
              </ul>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <h5>Legal</h5>
            <div class="footer_links">
              <ul>
                <li><a href="/privacy_policy">Privacy Policy</a></li>
                <li>
                  <a href="/terms_and_conditions">Terms and Conditions</a>
                </li>
                <li><a href="/refund_policy">Refund Policy</a></li>
              </ul>
            </div>
          </div>

          <div class="col-lg-2 col-md-6">
            <h5>Follow Us</h5>
            <div class="social">
              <ul>
                <li>
                  <a href="#0" class="instagram"
                    ><i class="bi bi-instagram"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="https://wa.me/918328464932"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="whatsapp"
                    ><i class="bi bi-whatsapp"></i
                  ></a>
                </li>
                <li>
                  <a href="#0" class="facebook"
                    ><i class="bi bi-facebook"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!--/row-->
      </div>
      <!--/container-->
      <div class="copy">
        <div class="container">
          © Hotel Varahi Grand - by
          <a href="https://digitalroomz.com/">Digital Roomz</a>
        </div>
      </div>
    </footer>

    <script src="{% static 'js/common_scripts.js' %}"></script>
    <script src="{% static 'js/common_functions.js' %}"></script>
    <script src="{% static 'js/datepicker_inline.js' %}"></script>

    <script>
      document.querySelectorAll(".submenu a").forEach((link) => {
        link.addEventListener("click", function () {
          if (window.innerWidth < 768) {
            document.querySelector(".open_close_menu").click();
          }
        });
      });
    </script>
  </body>
</html>
