{% load static %}
<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title>VARAHI-GRAND</title>

    <!-- Favicons-->
    <link
      rel="shortcut icon"
      href="{% static 'img/favicon-mix.png' %}"
      type="image/x-icon"
    />

    <!-- GOOGLE WEB FONT-->
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&amp;family=Montserrat:wght@300;400;500;600;700&amp;display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      rel="stylesheet"
    />

    <!-- BASE CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/vendors.min.css' %}" rel="stylesheet" />

    <!-- YOUR CUSTOM CSS -->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" />

    <style>
      .book_btn {
        background: #2b2063 !important;
        transition: 0.3s ease-in-out;
      }

      .book_btn:hover {
        background: #978667 !important;
      }

      .hamburger__inner {
        background-color: #2b2063 !important;
      }
      .hamburger__inner::before {
        background-color: #2b2063 !important;
      }
      .hamburger__inner::after {
        background-color: #2b2063 !important;
      }

      .terms_and_conditions {
        margin-top: 80px;
        padding: 80px 0;
      }

      .social a {
        font-size: 20px;
        display: inline-block;
        margin-right: 10px;
        transition: transform 0.3s ease-in-out;
      }

      .social a.instagram {
        color: #e4405f;
      }

      .social a.whatsapp {
        color: #25d366;
      }

      .social a.facebook {
        color: #1877f2;
      }

      .social a.instagram:hover {
        color: #e4405f;
        text-shadow: 0 0 20px rgb(182, 25, 25);
      }

      .social a.whatsapp:hover {
        color: #25d366;
        text-shadow: 0 0 20px rgb(25, 182, 25);
      }

      .social a.facebook:hover {
        color: #1877f2;
        text-shadow: 0 0 20px rgb(23, 92, 197);
      }

      .social a:hover {
        transform: scale(1.2);
      }

      @media (max-width: 767px) {
        .logo_normal img {
          width: 105px !important;
          height: 75px;
        }
        .terms_and_conditions {
          margin-top: 20px;
        }
      }

      main {
        padding: 50px 20px;
        max-width: 1000px;
        margin: auto;
        color: #333;
        line-height: 1.8;
      }

      h2,
      h3 {
        margin-top: 30px;
        color: #2b2063;
      }
    </style>
  </head>

  <body>
    <div id="preloader">
      <div data-loader="circle-side"></div>
    </div>
    <!-- /Page Preload -->

    <header class="fixed_header menu_v4 submenu_version">
      <div class="layer"></div>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-3">
            <a href="#home" class="logo_normal"
              ><img
                src="{% static 'img/logo-1.png' %}"
                width="135"
                height="105"
                alt="Logo"
            /></a>
          </div>
          <div class="col-9">
            <div class="main-menu">
              <a href="#0" class="closebt open_close_menu"
                ><i class="bi bi-x"></i
              ></a>
              <div class="logo_panel">
                <img
                  src="{% static 'img/logo-1.png' %}"
                  width="135"
                  height="105"
                  alt=""
                />
              </div>
              <nav id="mainNav">
                <ul>
                  <li class="submenu">
                    <a style="color: #2b2063" href="/">Home</a>
                  </li>
                  <li class="submenu">
                    <a style="color: #2b2063" href="/#about">About</a>
                  </li>
                  <li class="submenu">
                    <a style="color: #2b2063" href="/#rooms">Rooms & Suites</a>
                  </li>
                  <li class="submenu">
                    <a style="color: #2b2063" href="/#contact">Contacts</a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="hamburger_2 open_close_menu float-end">
              <div class="hamburger__box">
                <div class="hamburger__inner"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main>
      <div class="terms_and_conditions">
        <h1 style="color: #2b2063">Terms & Conditions</h1>
        <p>
          Hotel Varahi Grand is managed and operated by Roaming Routes. These
          terms and conditions outline the rules and regulations for the use of
          Hotel Varahi Grand’s Website, located at Vijayawada.
        </p>

        <p>
          By accessing this website we assume you accept these terms and
          conditions. Do not continue to use Hotel Varahi Grand if you do not
          agree to take all of the terms and conditions stated on this page.
        </p>

        <p>
          The following terminology applies to these Terms and Conditions,
          Privacy Statement and Disclaimer Notice and all Agreements: “Client”,
          “You” and “Your” refers to you, the person logging on to this website
          and compliant to the Company’s terms and conditions. “The Company”,
          “Ourselves”, “We”, “Our” and “Us”, refers to our Company. “Party”,
          “Parties”, or “Us”, refers to both the Client and ourselves.
        </p>

        <h2>Cookies</h2>
        <p>
          We employ the use of cookies. By accessing Hotel Varahi Grand, you
          agreed to use cookies in agreement with the Hotel Varahi Grand’s
          Privacy Policy.
        </p>

        <h2>License</h2>
        <p>
          Unless otherwise stated, Hotel Varahi Grand and/or its licensors own
          the intellectual property rights for all material on Hotel Varahi
          Grand. All intellectual property rights are reserved. You may access
          this from Hotel Varahi Grand for your own personal use subjected to
          restrictions set in these terms and conditions.
        </p>

        <p>You must not:</p>
        <ul>
          <li>Republish material from Hotel Varahi Grand</li>
          <li>Sell, rent or sub-license material from Hotel Varahi Grand</li>
          <li>Reproduce, duplicate or copy material from Hotel Varahi Grand</li>
          <li>Redistribute content from Hotel Varahi Grand</li>
        </ul>

        <p>This Agreement shall begin on the date hereof.</p>

        <p>
          Parts of this website offer users the opportunity to post and exchange
          opinions and information. Hotel Varahi Grand does not filter, edit,
          publish or review Comments prior to their appearance on the website.
          Comments reflect the views of the person posting them and not
          necessarily those of Hotel Varahi Grand.
        </p>

        <p>
          Hotel Varahi Grand reserves the right to monitor all Comments and
          remove any Comments which can be considered inappropriate, offensive,
          or breach these Terms and Conditions.
        </p>

        <p>You warrant and represent that:</p>
        <ul>
          <li>
            You are entitled to post the Comments on our website and have all
            necessary licenses and consents to do so
          </li>
          <li>The Comments do not invade any intellectual property right</li>
          <li>
            The Comments do not contain any defamatory, libelous, offensive, or
            otherwise unlawful material
          </li>
          <li>
            The Comments will not be used to promote business or unlawful
            activity
          </li>
        </ul>

        <p>
          You hereby grant Hotel Varahi Grand a non-exclusive license to use,
          reproduce, and edit any of your Comments in any and all forms, formats
          or media.
        </p>

        <h2>Hyperlinking to our Content</h2>
        <p>
          The following organizations may link to our Website without prior
          written approval:
        </p>
        <ul>
          <li>Government agencies</li>
          <li>Search engines</li>
          <li>News organizations</li>
          <li>Online directory distributors</li>
          <li>
            System-wide Accredited Businesses (excluding charities and
            non-profits)
          </li>
        </ul>

        <p>
          We may consider and approve other link requests from certain
          organizations such as:
        </p>
        <ul>
          <li>Consumer/business information sources</li>
          <li>Dot.com communities</li>
          <li>Charity groups</li>
          <li>Online directories</li>
          <li>Internet portals</li>
          <li>Consulting firms</li>
          <li>Educational institutions</li>
        </ul>

        <p>
          If you are interested in linking to our website, email us with your
          organization details and URLs you intend to link to. Approved
          organizations may hyperlink using:
        </p>
        <ul>
          <li>Our corporate name</li>
          <li>The URL being linked to</li>
          <li>A descriptive context fitting the linking party’s content</li>
        </ul>

        <p>
          No use of Hotel Varahi Grand’s logo or artwork is permitted without a
          trademark license.
        </p>

        <h2>iFrames</h2>
        <p>
          Without prior approval, you may not create frames around our web pages
          that alter the visual presentation of our website.
        </p>

        <h2>Content Liability</h2>
        <p>
          We shall not be hold responsible for any content that appears on your
          Website. You agree to protect and defend us against all claims that is
          rising on your Website. No link(s) should appear on any Website that
          may be interpreted as libelous, obscene or criminal, or which
          infringes, otherwise violates, or advocates the infringement or other
          violation of, any third party rights.
        </p>

        <h2>Your Privacy</h2>
        <p>Please read our <a href="/privacy_policy">Privacy Policy</a>.</p>

        <h2>Reservation of Rights</h2>
        <p>
          We reserve the right to request that you remove all links or any
          particular link to our Website. You approve to immediately remove all
          links to our Website upon request. We also reserve the right to amen
          these terms and conditions and it’s linking policy at any time. By
          continuously linking to our Website, you agree to be bound to and
          follow these linking terms and conditions.
        </p>

        <h2>Removal of links from our website</h2>
        <p>
          If you find any link on our Website that is offensive for any reason,
          you are free to contact and inform us any moment. We will consider
          requests to remove links but we are not obligated to or so or to
          respond to you directly.
        </p>
        <p>
          We do not ensure that the information on this website is correct, we
          do not warrant its completeness or accuracy; nor do we promise to
          ensure that the website remains available or that the material on the
          website is kept up to date.
        </p>

        <h2>Disclaimer</h2>
        <p>
          We exclude all warranties relating to our website to the maximum
          extent permitted by law. Nothing in this disclaimer will:
        </p>
        <ul>
          <li>
            limit or exclude our or your liability for death or personal injury;
          </li>
          <li>
            limit or exclude our or your liability for fraud or fraudulent
            misrepresentation;
          </li>
          <li>
            limit any of our or your liabilities in any way that is not
            permitted under applicable law;
          </li>
          <li>
            exclude any of our or your liabilities that may not be excluded
            under applicable law.
          </li>
        </ul>
        <p>
          The limitations and prohibitions of liability set in this Section and
          elsewhere in this disclaimer: (a) are subject to the preceding
          paragraph; and (b) govern all liabilities arising under the
          disclaimer, including liabilities arising in contract, in tort and for
          breach of statutory duty.
        </p>
        <p>
          As long as the website and its services are provided free of charge,
          we will not be liable for any loss or damage of any nature.
        </p>
      </div>
    </main>

    <footer style="position: relative">
      <div class="footer_bg">
        <div class="gradient_over"></div>
        <div
          class="background-image"
          data-background="url(img/rooms/3.jpg)"
        ></div>
      </div>
      <div class="container">
        <div class="row move_content pb-5">
          <div class="col-lg-4 col-md-12">
            <h5>Hotel Varahi Grand (HVG)</h5>
            <ul>
              <li>
                Your cozy and budget-friendly stay near Kanaka Durga Temple on
                the Hyderabad–Vijayawada Highway.<br /><br />
              </li>
              <li>
                <strong><a href="#0">info@varahigrand.com</a></strong>
              </li>
              <li>
                <strong><a href="#0">+91 1234567890</a></strong>
              </li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 ms-lg-auto">
            <h5>Explore</h5>
            <div class="footer_links">
              <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#rooms">Rooms &amp; Suites</a></li>
                <li><a href="#contact">Contacts</a></li>
              </ul>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <h5>Legal</h5>
            <div class="footer_links">
              <ul>
                <li><a href="/privacy_policy">Privacy Policy</a></li>
                <li>
                  <a href="/terms_and_conditions">Terms and Conditions</a>
                </li>
                <li><a href="/refund_policy">Refund Policy</a></li>
              </ul>
            </div>
          </div>

          <div class="col-lg-2 col-md-6">
            <h5>Follow Us</h5>
            <div class="social">
              <ul>
                <li>
                  <a href="#0" class="instagram"
                    ><i class="bi bi-instagram"></i
                  ></a>
                </li>
                <li>
                  <a href="#0" class="whatsapp"
                    ><i class="bi bi-whatsapp"></i
                  ></a>
                </li>
                <li>
                  <a href="#0" class="facebook"
                    ><i class="bi bi-facebook"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!--/row-->
      </div>
      <!--/container-->
      <div class="copy">
        <div class="container">
          © Hotel Varahi Grand - by
          <a href="https://digitalroomz.com/">Digital Roomz</a>
        </div>
      </div>
    </footer>

    <script src="{% static 'js/common_scripts.js' %}"></script>
    <script src="{% static 'js/common_functions.js' %}"></script>
    <script src="{% static 'js/datepicker_inline.js' %}"></script>

    <script>
      document.querySelectorAll(".submenu a").forEach((link) => {
        link.addEventListener("click", function () {
          if (window.innerWidth < 768) {
            document.querySelector(".open_close_menu").click();
          }
        });
      });
    </script>
  </body>
</html>
